.link{
    text-decoration: none;
    color: #00eaff;
    margin: 10px;
}

.link:hover{
    color: #b5327a;
}

.active{
    color: azure;
}

.block{
    width: 21px;
    height: 21px;

    margin: 10px;

    background: #cadb9b;
}

.header{
    display: flex;

    width: 280px;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0);

}